
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.dark-bg {
    background-color: #0f0f0f;
}

a, a:visited, a:hover, a:focus {
    color: #f0f0f0;
}

.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #f0f0f0;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, p {
    color: #f0f0f0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-item.active {    
    font-weight: 800;
}
   

main .container .row {
    color: #f0f0f0;   
}

.page-title {
    position: fixed;
    bottom: 0;
    color: #f0f0f0;
    width: 100%;
}

.fixed-container {
    position: fixed;
    bottom: 0;
}

#itinerary-carousel {
    padding-top: 50px;
}

.carousel-item img {
    width: 100%;
}

.rating-star {
    width: 100px;
    padding-right: 20px;
    padding-right: 20px;
}

.container .caption {
    padding-top: 50px;
}

.container .map {
    position: fixed; 
    bottom: 0; 
    height: 85%; 
    padding-bottom: 20px;
}

.container .about {
    padding-top: 100px
}

.container .about h1 {
    color:#F9D949;
}

.container .rating {
    padding-top: 50px;
}

#rating-stars {
    padding-top: 10px;
}

