
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

nav .navbar-nav .nav-item .nav-link {    
    color: white;
    font-size: 24px;
}

.content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 50px;
  }
   

main .container .row {
    color: #f1f1f1;   
}

#page-title {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
}