
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.dark-bg {
    background-color: black;
}

.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: lightyellow;
    font-size: 24px;
}

.nav-item.active {    
    font-weight: 800;
}
   

main .container .row {
    color: lightyellow;   
}

.page-title {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: lightyellow;
    width: 100%;
}

.fixed-container {
    position: fixed;
    bottom: 0;
}

#itinerary-carousel {
    padding-top: 50px;
}

.rating-star {
    width: 100px;
    padding-right: 20px;
    padding-right: 20px;
}